// - Very Dark Grayish Blue: hsl(217, 19%, 35%) tekst vo h1
// - Desaturated Dark Blue: hsl(214, 17%, 51%) tekst vo p
// - Grayish Blue: hsl(212, 23%, 69%) tekst vo date
// - Light Grayish Blue: hsl(210, 46%, 95%) bg

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    height: 100vh;
    display: flex;
}

.card {
    max-width: 320px;
    margin: auto;
    background-color: white;
    border-radius: 0.5rem;

    img {
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        height: 200px;
        object-fit: cover;
    }

    .text {
        margin: 2rem 2rem 1rem;

        h1 {
            font-size: 16px;
            line-height: 1.5rem;
            font-weight: 700;
            color: hsl(217, 19%, 35%);
        }

        p {
            margin: 1rem 0;
            line-height: 1.3rem;
            color: hsl(214, 17%, 51%);
        }

        .person {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;
            letter-spacing: 0.5px;
            height: 40px;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }

            .info {
                margin-right: 2rem;

                .name {
                    font-weight: 700;
                    color: hsl(217, 19%, 35%);
                    cursor: pointer;
                }

                .date {
                    color: hsl(212, 23%, 69%);
                }
            }

            .share {
                background-color: hsl(210, 46%, 95%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding-top: 7px;
                padding-left: 8px;
                cursor: pointer;

                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .active {
            height: 75px;
            width: 320px;
            background-color: hsl(217, 19%, 35%);
            color: hsl(212, 23%, 69%);
            border-radius: 0 0 0.5rem 0.5rem;
            position: absolute;
            transform: translate(-2rem, -58px);
            padding: 0 2rem;
            display: none;
            align-items: center;

            span {
                letter-spacing: 5px;
                margin-right: 10px;
            }

            img {
                width: 30px;
                height: 30px;
                margin: 4px;
                cursor: pointer;
            }

            div {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding-top: 4px;
                padding-left: 4px;
                background-color: hsl(214, 17%, 51%);
                margin-left: 35px;
                cursor: pointer;

                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}

@media (min-width: 768px) {

    .card {
        max-width: 700px;
        max-height: 250px;
        display: flex;
        flex-direction: row;

        img {
            width: 40%;
            border-radius: 0.5rem 0 0 0.5rem;
            height: 250px;
        }

        .info {
            margin-left: -5rem;
        }

        .text {

            .active {
                display: none;
                border-radius: 0.5rem;
                height: 50px;
                width: 250px;
                transform: translate(200px, -100px);

                div {
                    display: none;
                }
            }
        }
    }
}